<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="firstDiv">
        <nav class="mx-14 py-4 flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="#"
                        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-700 dark:hover:text-gray-500">
                        <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                            </path>
                        </svg>
                        Home
                    </a>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-1 text-sm font-medium text-gray-700 md:ml-2 dark:text-gray-700">Cricket</span>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
    <div class="secondDiv">
        <h1 class="mx-14 py-4 text-3xl font-semibold inline-block">Cricket</h1>
        <button
            class="mt-3 mr-12 float-right w-28 sportBtn  btn py-2 px-4 font-medium rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
            Delete
        </button>
        <button
            class="mt-3 mx-5 float-right w-28 sportBtn  btn py-2 px-4 font-medium rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
            Edit
        </button>

    </div>
    <div class="thirdDiv">
        <h3 class="mx-14 py-4 mt-6 font-medium text-xl">Upcoming Sessions</h3>
        <div class="mx-14 py-4 sessionBox grid grid-cols-2 gap-2">
            <a href="#">May 1, 2023 5:30 PM <span>Last Slot</span></a>
            <a href="#">May 2, 2023 5:30 PM <span>2 Slots</span></a>
            <a href="#">May 3, 2023 5:30 PM <span>4 Slots</span></a>
            <a href="#">May 5, 2023 5:30 PM <span>2 Slots</span></a>
        </div>
        <div class="mx-14 py-4">
            <a href="#" class="underline text-lg block pb-2">Create a new sessions</a>
            <a href="#" class="underline text-lg block pb-2">View previous sessions</a>
        </div>
    </div>
</body>

</html>